<h1>Введите вот это все</h1>
<form action="/users" method="post" accept-charset="UTF-8">
  Email: <input type="text" name="email"><br>
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
